body {
    background-color: powderblue;
}

h1 {
    color: blue;
}

p {
    color: red;
}

p.ex1 {
    font-size: 30px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}